<footer class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <% if current_user %>
        <%= link_to "Reset token", "https://accounts.google.com/o/oauth2/revoke?token=#{current_user.oauth_token}" %>
    <% end %>
  </div>
</footer>