<script>
  function videoframe(id) {
    $("#ytplayer").attr("src", "http://www.youtube.com/embed/" + id + "?autoplay=1&origin=http://example.com");
  }
</script>

<% index ||= 0 %>
<div id="playlist_items">
  <% if playlists != nil && !playlists.empty? && playlists[index.to_i]["id"] != nil && playlists[index.to_i]["id"].length > 0 %>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12">
            <div class="list-group">
              <a href="#" class="list-group-item active">LIST ITEM</a>
              <% count = 1 %>
              <% playlists[index.to_i]["content"].each do |video| %>
                  <a href="#" class="list-group-item list-group-item-action" onclick="videoframe('<%= video['resourceId']['videoId']%>')">
                    <%= count.to_s << ". " << video["title"] %>
                  </a>
                  <% count+=1 %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>